<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47231083979-6j22b45cs6uho2lsgdbu6qgjqmd6b8fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47231083979-6j22b45cs6uho2lsgdbu6qgjqmd6b8fo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47231083979-f4jdm5d8bdq0c3nphbdf0ssrnj58m426.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkwR_1E4IKBzPDMKPFd2O4Fmhp3Hdm5E</string>
	<key>GCM_SENDER_ID</key>
	<string>47231083979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terry.pomodoroflow</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-flow-df1ca</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-flow-df1ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47231083979:ios:a0ce362139aa01f86dc24e</string>
</dict>
</plist>